
.card img {
    /* width: 280px; */
    height: 179px;
}
.top-4 {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 100px auto;
}
.bottom-4 {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 100px auto;
}
.card-title {
    /* font-size: 14px; */
}